.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

.Button_default {
  background-color: #ececec;
  color: black;
}

.Button_positive {
  background-color: #9ab4da;
  color: white;
}

.Button_negative {
  background-color: #2d4c79;
  color: white;
}
