.EmotionItem {
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EmotionItem img {
    width: 100%;
    margin-bottom: 10px;
}

.EmotionItem span {
    font-size: 18px;
}

.EmotionItem_off {
    background-color: #ececec;
}

.EmotionItem_on_1 {
    background-color: #64c964;
}

.EmotionItem_on_2 {
    background-color: #9dd772;
}

.EmotionItem_on_3 {
    background-color: #fdce17;
}

.EmotionItem_on_4 {
    background-color: #fd8446;
}

.EmotionItem_on_5 {
    background-color: #fd565f;
}
